* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(240, 66, 255, 0.25);
  min-height: 100vh;
}

header {
  align-items: center;
  background-size: 100px;
  background: url(https://i.pinimg.com/originals/1b/b4/62/1bb46265b5bb8f239b1a9de93d61a5c4.jpg);
  border-bottom: solid 2px rgb(236, 113, 208);
  box-sizing: content-box;
  display: flex;
  height: 80px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

header h1 {
  color: rgb(236, 113, 208);
  font-family: 'Redressed';
  font-size: 5em;
  font-weight: bold;
  text-shadow: 5px 0px black;
}

header > a {
  text-decoration: none;
}

header nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

header img {
  padding: 10px;
  width: 100px;
}

header nav a {
  background-color: red;
  border-radius: 5px;
  box-shadow: 5px 5px black;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 20px;
  padding: 5px;
  text-decoration: none;
}

header nav a:active {
  box-shadow: none;
}

main {
  margin-top: 102px;
}
