h1 {
  font-size: 30px;
}

.fundoVermelho {
  background-color: rgb(255, 0, 0);
}

.negrito {
  font-weight: bold;
}

#textoPrincipal {
  background-color: #000;
  color: #ffffff;
  font-size: 30px;
  padding: 10px;
}
