:root {
  background: url(https://i.pinimg.com/originals/1b/b4/62/1bb46265b5bb8f239b1a9de93d61a5c4.jpg)
}

h1 {
  font-size: 30px;
}

input, select {
  display: inline;
}

ul {
  list-style-type: none;
}

table {
        border-collapse: collapse;
}

th, td {
  padding: 10px;
}

thead tr {
  border-bottom: solid 3px gray;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #dedede;
}

tfoot {
  background-color: gray;
  color: #ffffff;
  font-weight: bold;
}

.avatarTe {
  border-radius: 10%;
  display: block;
  height: auto;
  width: 300px;
}

.overlay {
  background-color: #d26cbc;
  border-radius: 10%;
  bottom: 0;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: .5s ease;
  width: 300px;
}

.sobreTe {
  position: relative;
  width: 50%;
}


.sobreTe:hover .overlay {
  height: 100%;
}

.textoOverlay {
  color: white;
  font-size: 30px;
  left: 50%;
  position: relative;
  text-align: center;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wm-folder {
  cursor: pointer;
}

.wm-folder::before {
  color: black;
  content: "\25B6";
  display: inline-block;
  margin-right: 6px;
}

.wm-folder-down::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wm-folderItems {
  display: none;
}

#textoPrincipal {
  background-color: black;
  color: #ffffff;
  font-size: 30px;
  padding: 10px;
}
